@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
    box-sizing: border-box;
    color: white;
    font-family: 'Cabin', sans-serif;
}

*:focus {
    outline: none;
}

.clear {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    background-image: url("background-light.jpg");
    background-size: cover;
    height: 100%;
    padding: 0;
    margin: 0;
}

body.dark {
	background-image: url("background-dark.jpg");
}

body.light {
	background-image: url("background-light.jpg");
}

.flex-content {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
	background-color: rgba(0, 0, 0, 0);
}

.flex-content .flex-part {
    height: 50%;
}

.flex-content .content {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.flex-content .content .line-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.flex-content .content .line-content.hide {
    height: 0%;
}

.flex-content .content .line-content .box {
    height: 100%;
    width: 35%;
    flex-direction: column;
}

.flex-content .content .line-content .box:nth-child(2) {
    margin-inline: 5em;
}

.flex-content .content .box {
    width: 100%;
    height: 25%;

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    padding: 2em;

    transition: 0.5s;
}

.flex-content .content .box.selected { 
    min-width: 50%;
    height: fit-content;
}

.flex-content .content .box.notselected { 
    width: 0px;
    padding: 0;
    opacity: 0;
    transform: scale(0);
}

.flex-content .content .box.notselected:nth-child(2) { 
    margin-inline: 0em;
}

.flex-content .content .box.notselected * { 
    display: none;
}

.flex-content .content .box:hover {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-color: rgba(255, 255, 255, 1);
}

.flex-content .content .box .result {
    gap: 0.5em;
    font-size: 1.25em;
    line-height: 1.75em;
    margin-bottom: 1em;
    white-space: nowrap;
    opacity: 0;
    animation: fade-in 0.5s;
    animation-delay: 0.25s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.flex-content .content .box .result-key {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.1em;
    border-radius: 0.25em;
}

.flex-content .content .box .title {
    font-size: 2em;
}

.flex-content .content .box .input {
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0;
    border-radius: 0.5em;
    font-size: 1.25em;
}

.flex-content .content .box .input:invalid + .button {
    pointer-events: none;
    opacity: 0.25;
}

.flex-content .content .box .input:valid + .button {
    pointer-events: all;
    opacity: 1;
}

.flex-content .content .box .button {
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0;
    border-radius: 0.5em;
    font-size: 1em;
    transition: 0.25s;
    cursor: pointer;
}

.flex-content .content .box .button:hover {
    background-color: rgba(255, 255, 255, 1);
    color:rgba(0, 0, 0, 1)
}

.flex-content footer {
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 1em;
}

.flex-content footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.flex-content footer * {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.flex-content footer a:hover {
    color: rgba(255, 255, 255, 1);
}

.flex-content footer .theme-change {
	border-radius: 100%;
    height: 2em;
	background-color: rgba(255, 255, 255, 0.5);
	outline: none;
	border: none;
	aspect-ratio: 1 / 1;
    padding: 0.2em;
}

body.dark .flex-content footer .theme-change div {
    background-image: url("moon.png");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: auto;
	aspect-ratio: 1 / 1;
    transition: 0.25s;
    animation: change-theme-right 1s;
}
body.light .flex-content footer .theme-change div {
    background-image: url("sun.png");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: auto;
	aspect-ratio: 1 / 1;
    transition: 0.25s;
    animation: change-theme-left 1s;
}

@keyframes change-theme-right {
	0% {
		transform: rotateZ(0deg);
        filter: blur(2.5px);
	}
    50% {
        filter: blur(0px);
    }
	100% {
		transform: rotateZ(360deg);
	}
}

@keyframes change-theme-left {
	0% {
		transform: rotateZ(0deg);
        filter: blur(2.5px);
	}
    50% {
        filter: blur(0px);
    }
	100% {
		transform: rotateZ(-360deg);
	}
}

.flex-content footer .theme-change img {
    height: 1.5em;
	width:auto;
	transition: 0.25s;
}
